{% extends 'portal/base.html' %}

{% block content %}
<h1 class="float-left">VGS Demo</h1>
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form id="vgs-demo">
                <div class="form-group">
                    <label>Account Number</label>
                    <input type="text" id="account-number" class="form-control" placeholder="Account Number" required/>
                </div>
                <div class="form-group">
                    <label>SSN</label>
                    <input type="text" id="ssn" class="form-control" placeholder="SSN"  required/>
                </div>
                <div class="form-group">
                    <label>Passport Number</label>
                    <input type="text" id="passport-number" class="form-control" placeholder="Passport Number"  required/>
                </div>
                <div class="form-group">
                    <label>Company Registration Number</label>
                    <input type="text" id="company-registration-number" class="form-control" placeholder="Company Registration Number"  required/>
                </div>
                <div class="form-group">
                    <label>Proof Of ID</label>
                    <input type="file" id="proof-of-id" class="form-control" placeholder="Proof Of ID"  required/>
                </div>
                <button type="submit" class="float-right btn btn-success">Submit</button>
            </form>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Account Number</label>
                <input type="text" id="daccount-number" class="form-control" placeholder="Account Number" readonly/>
            </div>
            <div class="form-group">
                <label>SSN</label>
                <input type="text" id="dssn" class="form-control" placeholder="SSN"  readonly/>
            </div>
            <div class="form-group">
                <label>Passport Number</label>
                <input type="text" id="dpassport-number" class="form-control" placeholder="Passport Number"  readonly/>
            </div>
            <div class="form-group">
                <label>Company Registration Number</label>
                <input type="text" id="dcompany-registration-number" class="form-control" placeholder="Company Registration Number"  readonly/>
            </div>
            <div class="form-group">
                <label>Proof Of ID</label>
                <input type="text" id="dproofofid" class="form-control" placeholder="Proof Of ID" readonly />
            </div>
        </div>
    </div>
</div>
<script>
    const convertBinaryToB64 = (file, cb) => {
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
            cb(reader.result);
        };  
        reader.onerror = function (error) {
            console.log('error', error);
        }   
    }   

    $("#vgs-demo").submit((e) => {
        e.preventDefault();
        let account_number = $("#account-number").val();
        let ssn = $("#ssn").val();
        let passport_number = $("#passport-number").val();
        let company_registration_number = $("#company-registration-number").val();
        let proof_of_id =  $("#proof-of-id").prop('files')[0];

        $.ajax({
            url: 'https://tntfgytmgki.SANDBOX.verygoodproxy.com/post',
            data: {'image': account_number},
            headers: {'Content-Type': 'image/jpeg'},
            type: 'post',
            success: function(res){
                console.log(res);
                $("#dproofofid").val(res.data);
            },
            error: function(err){
                console.log(err);
            }
        });

        $.ajax({
            url: 'https://tntpgzedvef.sandbox.verygoodproxy.com/post',
            data: {'ssn': account_number},
            headers: {'Content-Type': 'application/json'},
            type: 'post',
            success: function(res){
                console.log(res);
                $("#daccount-number").val(res.data);
            },
            error: function(err){
                console.log(err);
            }
        });

        $.ajax({
            url: 'https://tntpgzedvef.sandbox.verygoodproxy.com/post',
            data: {'ssn': ssn},
            headers: {'Content-Type': 'application/json'},
            type: 'post',
            success: function(res){
                console.log(res);
                $("#dssn").val(res.data);
            },
            error: function(err){
                console.log(err);
            }
        });

        $.ajax({
            url: 'https://tntpgzedvef.sandbox.verygoodproxy.com/post',
            data: {'ssn': passport_number},
            headers: {'Content-Type': 'application/json'},
            type: 'post',
            success: function(res){
                console.log(res);
                $("#dpassport-number").val(res.data);
            },
            error: function(err){
                console.log(err);
            }
        });

        $.ajax({
            url: 'https://tntpgzedvef.sandbox.verygoodproxy.com/post',
            data: {'ssn': company_registration_number},
            headers: {'Content-Type': 'application/json'},
            type: 'post',
            success: function(res){
                console.log(res);
                $("#dcompany-registration-number").val(res.data);
            },
            error: function(err){
                console.log(err);
            }
        });
    });
</script>
{% endblock %}
