<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Klanto - VGS Example</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

    {% block page_js %} {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block content %}
      <h1>Original data. Revealed via VGS inbound route.</h1>
      <p><label for="date">Date:</label> <label id="date"></label></p>
      <p>
        <label for="ssn">Social Security Number:</label>
        <label id="ssn"></label>
      </p>
      <p>
        <label for="n_id">Driver License Number:</label>
        <label id="n_id"></label>
      </p>
      <button onclick="checkrRun()" class="btn btn-primary">Submit</button>
      <label id="loading_message" style="display: none"
        >Waiting for Checkr response...</label
      >
      <br /><br />
      <a href="/">Main page</a>
      <br /><br /><br />

      <label for="checkr_output">Checkr result:</label>
      <textarea
      class="form-control"
        id="checkr_output"
        style="width: 500px; height: 500px"
      ></textarea>

      <script>
        function checkrRun() {
          $("#loading_message").show();
          $.get(
            "/api/v1/reveal-data",
            function onSuccess(data) {
              $("#checkr_output").text(JSON.stringify(data, null, 2));
              $("#loading_message").hide();
            }
          );
        }

        function fillOutPage() {
          $.get(
            "/api/v1/reveal-data",
            function onSuccess(data) {
              $("#date").text(data.pub_date);
              $("#ssn").text(data.social_security_number);
              $("#n_id").text(data.driver_license_number);
            }
          );
        }
        window.onload = fillOutPage;
      </script>
      {% endblock %}
    </div>
  </body>
</html>
