{% extends 'portal/base.html' %}


{% block content %}
<form id="test-form" enctype="multipart/form-data">
    <input type="file" accept=".jpg,.jpeg,.png" name="file" id="file">
    <button type="submit">Submit</button>
</form>

    <script>
        $("#test-form").on("submit", function(e){
            e.preventDefault();
            const formData = new FormData(this);
            $.ajax({
                url: '{{url}}',
                type: 'get',
                data: formData,
                success: function(e) {
                    console.log(e);
                },
                error: function(e) {
                    console.log(e);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    </script>
{% endblock %}
