{% extends 'portal/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <form>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" accept=".jpg,.jpeg,.png" class="form-control" />
        </div>
        <button type="submit" class="btn btn-outline-primary">Upload</button>
      </form>
    </div>
    <div class="col-6">
        <pre id="output">
        </pre>
    </div>
  </div>
</div>
{% endblock %}
